.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.end {
  flex-basis: 100%;
}

.btnLoad {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--greyE6);
  text-align: center;

}

.btnLoad:hover {
  background-color: var(--greyD9);
}

.btnLoad:active {
  transform: scale(1.2);
}